@using Loja.Mvc.Helpers

@model IEnumerable<Loja.Mvc.Models.ProdutoViewModel>

@{
    ViewBag.Title = "Produtos";
}

<h2>Produtos</h2>
@if (User.IsInRole("Master") || User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Novo Produto", "Create")
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th class="hidden-xs">
            @Html.DisplayNameFor(model => model.CategoriaNome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Preco)
        </th>
        <th class="hidden-xs">
            @Html.DisplayNameFor(model => model.Estoque)
        </th>
        <th class="hidden-xs">
            @Html.DisplayNameFor(model => model.Ativo)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td class="hidden-xs">
                @Html.DisplayFor(modelItem => item.CategoriaNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td class="hidden-xs">
                @Html.DisplayFor(modelItem => item.Estoque)
            </td>
            <td class="hidden-xs">
                @Html.DisplayFor(modelItem => item.Ativo)
            </td>
            <td class="hidden-xs">
                @Html.ActionLink("Detalhes", "Details", new { id = item.Id })

                @if (User.Identity.IsAuthenticated)
                {
                    @Html.ActionLink("| Editar", "Edit", new { id = item.Id })
                }

                @if (User.IsInRole("Chefe") || User.HasClaim("Produto", "Excluir") )
                {
                    @Html.ActionLink("| Excluir", "Delete", new { id = item.Id })
                }
            </td>
            <td class="visible-xs">
                @Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "glyphicon glyphicon-edit", title = "Editar" }) |
                @Html.ActionLink(" ", "Details", new { id = item.Id }, new { @class = "glyphicon glyphicon-eye-open", title = "Detalhes" }) |
                @Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "glyphicon glyphicon-remove", title = "Excluir" })
            </td>
        </tr>
    }
</table>
